@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DotNetDuds</h1>
    <p>This site is built for COMP2084 at Georgian College in the Fall 2020 Semester.</p>
    <p>It uses .NET Core, SQL Server and Entity Framework and is deployed to Azure via GitHub.</p>
    <p>Source available at <a href="https://github.com/ifotn/COMP20804-DotNetDuds-F2020-Wed" target="_blank">https://github.com/ifotn/COMP20804-DotNetDuds-F2020-Wed</a>.</p>
</div>
